@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rodrigo's Game Store'</h1>
    <p>Serving the city of Hamilton since 1997</p>
    <img src="images/store_logo.png" style="width:400px"/>
</div>
