@{
    ViewData["Title"] = "Statement of Authorship";
}
<h1>@ViewData["Title"]</h1>

<p>I, Rodrigo Wong Mac, student number 000887648, certify that this material is my original work. No other person's work has been used without due acknowledgment and I have not made my work available to anyone else.</p>
